/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #0066cc;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ffbf00;
}

section {
    padding: 40px;
    margin: 20px 10%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2.5em;
    color: #0066cc;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

.imagen-header {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

/* Estilo de los productos */
#productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.producto {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.producto-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.producto h3 {
    color: #0066cc;
    font-size: 1.5em;
    margin-top: 15px;
}

.producto:hover {
    transform: scale(1.05);
}

/* Efecto de hover para las imágenes */
.producto-img:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente cuando se pasa el ratón */
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 1em;
}
